<div id="header">
  <div id="header-box">
    <% if @result %>
         <div class="top-profile-image">
            <%= link_to image_tag(current_user.avatar.url), user_registration_path %>
         </div>
    <% elsif %>
    <div class="login-head"><%= link_to "login", new_user_session_path%></div>
    <% end %>
    <h1><%= link_to "Shopie", root_path %></h1>
  </div>
</div>


<div id="present-data-wrap" class="clearfix">


<div id="present-data-wrap-left-contents">

  <div class="present-data-image"><%= image_tag(@present.image) %></div>


  <div class="present-data-about-sub">

            <p>
              <div class="title-show">
              <div class="title-show-data">
              <h2><%= @present.title %></h2>
              </div>
              </div>
            </p>

              <p>
              <div class="enquete-show">
              <div class="enquete-show-data">
              <p><%= @present.enquete %></p>
              </div>
              </div>
            </p>
  
  </div>


    <div class="present-data-about">

      <p>
        <div class="brand-show present-data-about-box">
        <div class="brand-show-title">販売元</div>
        <div class="brand-show-data"><%= @present.brand %></div>
        </div>
      </p>


      <p>
        <div class="price-show present-data-about-box">
        <div class="price-show-title">購入価格</div>
        <div class="price-show-data"><%= @present.price %> 円</div>
        </div>
      </p>



      <p>
        <div class="cat-show present-data-about-box">
        <div class="cat-show-title">カテゴリ</div>
        <div class="cat-show-data"><%= @present.cat %></div>
        </div>
      </p>

      <p>
        <div class="youage-show present-data-about-box">
        <div class="youage-show-title">贈る相手の年齢</div>
        <div class="youage-show-data"><%= @present.youage %> 歳</div>
        </div>
      </p>
      <p>
        <div class="youage-show present-data-about-box">
        <div class="youage-show-title">贈る相手の性別</div>
        <div class="youage-show-data"><%= @present.man %></div>
        </div>
      </p>
      <p>

      <p>
      <div class="pay-show">
        <div class="pay-show-amazon">
        <div class="pay-show-amazon_icon"></div>
        <div class="pay-show-amazon_price">10000円</div>
        </div>
      </div>
      </p>

</div>



</div>

<div id="present-data-wrap-right-contents">

      <div class="bar_chart_contents"><%= column_chart @chart_all_data, colors: ["#FF7D7C"],height:"330px", width:"980px",stacked: true,library: {
                vAxis: {
                  textStyle: {
                    fontSize: 9
                    },
                  gridlines: {
                    color: "#eeeeee"
                  }
                },
                hAxis: {
                  textStyle: {
                    fontSize: 9
                    }
                  }
                  } 
      %></div> 



<div id="poll_button">
          <ul>

          <% @present_id = params[:id] %>
          <% @user_id = current_user.id%>

          <% if Poll.find_by(["user_id = ? and present_id = ? and poll_id = ?", @user_id, @present_id, 1])%>
           
              <%= link_to poll_first_present_path(@present), method: :put do %>
              <li class="poll_1_checked">最高！_true <%= @poll_1%></li>
              <% end %>

          <% else %>

              <%= link_to poll_first_present_path(@present), method: :put do %>
              <li class="poll_1">最高！ <%= @poll_1%></li>
              <% end %>

          <% end %>


          <% if Poll.find_by(["user_id = ? and present_id = ? and poll_id = ?", @user_id, @present_id, 2])%>
           
              <%= link_to poll_second_present_path(@present), method: :put do %>
              <li class="poll_2_checked">いいね_true <%= @poll_2%></li>
              <% end %>

          <% else %>

              <%= link_to poll_second_present_path(@present), method: :put do %>
              <li class="poll_2">いいね <%= @poll_2 %></li>
              <% end %>

          <% end %>

          <% if Poll.find_by(["user_id = ? and present_id = ? and poll_id = ?", @user_id, @present_id,3])%>
           
              <%= link_to poll_third_present_path(@present), method: :put do %>
              <li class="poll_3_checked">まぁまぁ_true  <%= @poll_3%></li>
              <% end %>

          <% else %>

              <%= link_to poll_third_present_path(@present), method: :put do %>
              <li class="poll_3">まぁまぁ <%= @poll_3%></li>
              <% end %>

          <% end %>

          <% if Poll.find_by(["user_id = ? and present_id = ? and poll_id = ?", @user_id, @present_id, 4])%>
           
              <%= link_to poll_four_present_path(@present), method: :put do %>
              <li class="poll_4_checked">うーん..._true <%= @poll_4%></li>
              <% end %>

          <% else %>

              <%= link_to poll_four_present_path(@present), method: :put do %>
              <li class="poll_4">うーん... <%= @poll_4%></li>
              <% end %>

          <% end %>
          </ul>
    </div>


<div class="chart_ul">
  <div class="chart_li">
  <h4>10代</h4>
  <% if @poll_10_19_check > 0 %>
  <div class="pie_chart_fix"><%= pie_chart @chart_data_10,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>20代</h4>
  <% if @poll_20_29_check > 0 %>
   <div class="pie_chart_fix"><%= pie_chart @chart_data_20,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>30代</h4>
  <% if @poll_30_39_check > 0 %>
   <div class="pie_chart_fix"><%= pie_chart @chart_data_30,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>40代</h4>
  <% if @poll_40_49_check > 0 %>
   <div class="pie_chart_fix"><%= pie_chart @chart_data_40,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>50代</h4>
  <% if @poll_50_59_check > 0 %>
   <div class="pie_chart_fix"><%= pie_chart @chart_data_50,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>60代</h4>
  <% if @poll_60_69_check > 0 %>
   <div class="pie_chart_fix"><%= pie_chart @chart_data_60,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>70代</h4>
  <% if @poll_70_79_check > 0 %>
   <div class="pie_chart_fix"><%= pie_chart @chart_data_70,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>

  <div class="chart_li">
  <h4>80代</h4>
  <% if @poll_80_89_check > 0 %>
  <div class="pie_chart_fix"><%= pie_chart @chart_data_80,  donut: true, height: "210px",width: "210px;",  legend: 'none' %></div>
  <% else %>
  <p>0%</p>
  <span>未投票</span>
  <% end %>
  </div>
  </div>


</div>
</div>