
<div id="header">
  <div id="header-box">
         <div class="top-profile-image">
            <%= link_to image_tag(current_user.avatar.url), user_registration_path %>
         </div>
    <h1><%= link_to "Shopie", root_path %></h1>
  </div>
</div>

<div id="contents-wrap">

<div id="sidebar-left">

<div id="login-profile-data">
            <ul>
                    <div class="profile-image">
                    <%= image_tag(@user.avatar.url) %>
                    </div>
                   
                    <li><%= @user.username %></li>
                    <li><%= @user.age  %>歳</li>



                      <ul id="user-action-data">
                        <li class="user-action-data-follow">
                        <div class="follow-count"><%= @user.followees_count %></div>
                        </li>
                          <li class="user-action-data-follower">
                          <div><%= @user.followers_count %></div>
                          </li>
                        </ul>

            </ul>




        </div>
</div>


<div id="main-contents-wrap"  class="clearfix">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


<div id="profile-edit-box" class="clearfix">

  <h3>アカウント設定</h3>

<div id="profile-setting-field-wrap">

<div class="profile-image-field">
                    <%= image_tag(@user.avatar.url) %>
                    </div>
 <div class="field clearfix">
    <%= f.label :avatar do %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
    </div>

<div class="profile-setting-field">
  <span>ユーザーネーム</span><br />
    <%= f.text_field :username, :placeholder => "ユーザーネーム", :class => "edit-field-username", autofocus: true %>
    </div>

  <div class="profile-setting-field">
  <span>メールアドレス</span><br />
    <%= f.email_field :email, :placeholder => "メールアドレス", :class => "edit-field-email", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="profile-setting-field">
  <span>新しいパスワード(<%= @minimum_password_length %>文字以上)</span><br />
    <%= f.password_field :password,  :placeholder => "パスワード", :class => "edit-field-email", autocomplete: "off" %>
    <% if @minimum_password_length %>

    <% end %>
  </div>

  <div class="profile-setting-field">
  <span>新しいパスワードの確認</span><br />
    <%= f.password_field :password_confirmation, :placeholder => "パスワードの確認", :class => "edit-field-email",  autocomplete: "off" %>
  </div>
  </div>

  <h3>身体データ - 身体の情報を入力すると、あなたや友人に最適な商品情報をお届けすることができます。</h3>
<div id="body-setting-field-wrap">

<div class="profile-setting-field">
    <div class="body_height-field">
  <span>身長</span>
  <%= f.number_field :body_height %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="body_width-field">
    <span>体重</span>
    <%= f.number_field :body_width %>
    </div>
</div>


<div class="profile-setting-field">
    <div class="leg_height-field">
    <span>脚の長さ</span>
    <%= f.number_field :leg_height %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="leg_width-field">
    <span>脚の太さ</span>
    <%= f.number_field :leg_width %>
    </div>
</div>


<div class="profile-setting-field">
    <div class="arm_height-field">
    <span>腕の長さ</span>
    <%= f.number_field :arm_height %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="arm_width-field">
    <span>腕の太さ</span>
    <%= f.number_field :arm_width %>
    </div>
</div>


<div class="profile-setting-field">
    <div class="shoulder_width-field">
    <span>肩幅</span>
    <%= f.number_field :shoulder_width %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="body_bust-field">
    <span>バスト</span>
    <%= f.number_field :body_bust %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="body_west-field">
    <span>ウエスト</span>
    <%= f.number_field :body_west %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="body_hip-field">
    <span>ヒップ</span>
    <%= f.number_field :body_hip %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="foot_height-field">
    <span>靴のサイズ</span>
    <%= f.number_field :foot_height %>
    </div>
</div>

<div class="profile-setting-field">
    <div class="ring_finger_width-field">
     <span>指輪のサイズ</span>
     <%= f.number_field :ring_finger_width %>
    </div>
</div>
</div>

  </div> 
  <div class="user_account_update_button">
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
 </div>
<% end %>

</div>
